In [140]:
import numpy as np # linear algebra
import pandas as pd

In [141]:
df = pd.read_csv('vgsales.csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [142]:
df.shape

(16598, 11)

In [143]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [144]:
df.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [145]:
#Điền giá trị thiếu feature year
df.Year = df.Year.fillna(df.Year.mean())

# Chuyển Year dtype từ float sang int32
df.Year = df.Year.astype('int32')

In [146]:
# Dùng phương thức .value_counts () để lấy giá trị tiếp tục lặp lại

df.Publisher.value_counts(normalize=True)

Electronic Arts                 0.081681
Activision                      0.058948
Namco Bandai Games              0.056348
Ubisoft                         0.055683
Konami Digital Entertainment    0.050302
                                  ...
MLB.com                         0.000060
GameTek                         0.000060
Inti Creates                    0.000060
Altron                          0.000060
Yumedia                         0.000060
Name: Publisher, Length: 578, dtype: float64

In [147]:
#replace value NaN = 'Electronic Arts'

df.Publisher = df.Publisher.fillna(df.Publisher.mode()[0])
df.isna().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [148]:
# Creating Categorical DataFrame
categorical_df = df.select_dtypes('O')

categorical_df.head()

                       Name Platform         Genre Publisher
0                Wii Sports      Wii        Sports  Nintendo
1         Super Mario Bros.      NES      Platform  Nintendo
2            Mario Kart Wii      Wii        Racing  Nintendo
3         Wii Sports Resort      Wii        Sports  Nintendo
4  Pokemon Red/Pokemon Blue       GB  Role-Playing  Nintendo

In [149]:
# Create Numerical DataFrame

numerical_df = df.select_dtypes(('int', 'float'))

numerical_df.head()

   Year  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0  2006     41.49     29.02      3.77         8.46         82.74
1  1985     29.08      3.58      6.81         0.77         40.24
2  2008     15.85     12.88      3.79         3.31         35.82
3  2009     15.75     11.01      3.28         2.96         33.00
4  1996     11.27      8.89     10.22         1.00         31.37

In [150]:
categorical_features = categorical_df.columns
print(categorical_features)

print('-' * 60)

Index(['Name', 'Platform', 'Genre', 'Publisher'], dtype='object')
------------------------------------------------------------

In [151]:
numerical_features = numerical_df.columns
print(numerical_features)

Index(['Year', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales',
       'Global_Sales'],
      dtype='object')

In [127]:
for category_name in categorical_features:
    print("Column Name: ", category_name)
    print(' ' * 50)

    print(df[category_name].value_counts().head())
    print('-' * 50)
    print('-' * 50)

Column Name:  Name

Need for Speed: Most Wanted    12
FIFA 14                         9
Ratatouille                     9
Madden NFL 07                   9
LEGO Marvel Super Heroes        9
Name: Name, dtype: int64
--------------------------------------------------
--------------------------------------------------
Column Name:  Platform

DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
Name: Platform, dtype: int64
--------------------------------------------------
--------------------------------------------------
Column Name:  Genre

Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Name: Genre, dtype: int64
--------------------------------------------------
--------------------------------------------------
Column Name:  Publisher

Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
Name: Publisher, dtype: int64
--------------------------------------------------
--------------------------------------------------

In [152]:
#import LabelEncoder để chuyển giá trị chuỗi thành giá trị số 
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
le = preprocessing.LabelEncoder()

feature = ["Platform", "Genre"]


for col in feature:
    df[col] = le.fit_transform(df[col])

df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,26,2006,10,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,11,1985,4,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,26,2008,6,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,26,2009,10,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,5,1996,7,Nintendo,11.27,8.89,10.22,1.00,31.37

In [170]:
#Let's create train and target feature for train and test splites
X = df[['Platform', 'Genre', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']].values

y = df['Global_Sales'].values

In [181]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=45)

In [182]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score

dtr = DecisionTreeRegressor()
dtr.fit(X_train, y_train)

pred = dtr.predict(X_test)

In [183]:
import joblib
filename = "Completed_model1.joblib"
joblib.dump(dtr, filename)

['Completed_model1.joblib']

In [184]:
print(f'Accuracy model: {r2_score(y_test, pred)* 100:.2f}%')

Accuracy model: 81.80%